<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <title>tellmeabout.coffee</title>
  <meta name="description" content="tells you about coffee">
  <meta name="author" content="jieb">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='tablesort-modified.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
  <style>
  #map { width:100%; height: 300px; }
  .leaflet-popup { width:240px; }
  .leaflet-popup button {
    float:right;
    height:30px;
    line-height:10px;
    }
  </style>
</head>

<body>

<!-- Following Menu -->
<div class="ui menu">
  <div class="ui container">
    <h2 class="active item">Tell Me About Coffee</h2>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui container">
      <div id='map'></div>
    </div>
  </div>
</div>

<div class="ui grid">
<div class="sixteen wide column">
  <div class="ui container">
    <div class="ui fluid input">
      <input type="search" class="search" data-column="all" placeholder="Search for Roaster, Region, or Tasting Noted">
    </div>
  </div>
</div>

<div class="sixteen wide column">
  <div class="ui container">
    <table class="ui sortable table">
      <thead>
        <tr>
          <th class="no-sort"></th>
          <th>Roaster</th>
          <th class="center aligned">Region</th>
          <th class="one wide center aligned ">Size</th>
          <th class="two wide center aligned">Price ($USD)</th>
        </tr>
      </thead>
      <tbody>
        {% for coffee in coffees %}
        <tr>
          <td>
            <a href={{ coffee.product_page }} target="_blank">
            <img class="ui small image lazy" data-original="/images/coffee/{{ coffee.key.id() }}">
            </a>
          </td>
          <td>
            <div class="content">
              <a href={{ coffee.product_page }} class="name" target="_blank">
                {{ coffee.name }}
              </a>
                <div class="meta roaster">
                  {{ coffee.roaster }}
                </div>
              <div class="description">
                {{ coffee.description }}
              </div>
              <br>
              <div class="extra">
                {% for note in coffee.notes %}
                <div class="ui label">{{ note }}</div>
                {% endfor %}
              </div>
            </div>
          </td>
          <td> {{ coffee.region}}</td>
          <td class="center aligned"> {{ coffee.size}}</td>
          <td class="center aligned"> {{ coffee.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
<script src="{{ url_for('static', filename='jquery.tablesorter.combined.min.js') }}"></script>
<script src="{{ url_for('static', filename='widget-filter.min.js') }}"></script>
<script src="{{ url_for('static', filename='widget-lazyload.min.js') }}"></script>
<script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>

<script>
  $(document).ready(function(){
    $('table').tablesorter({
      headers: {
        '.no-sort': {
          sorter: false
        }
      },
      textExtraction: {
        1: function(node, table, cellIndex){ return $(node).find(".roaster").text() + $(node).find(".extra").text(); }
      },
      widgets: ["filter", "lazyload"],
      widgetOptions : {
        filter_external : 'input.search',
        filter_columnFilters: false,
        filter_childRows   : true
      }
    }).bind('filterEnd sortEnd', function(e, filter){
      $('table').trigger( 'lazyloadUpdate' );
    })
  });

  $(document).ready(function(){
    L.mapbox.accessToken = 'pk.eyJ1IjoiamlucGFyayIsImEiOiJjaWp5N2M0OWwxbmRydndtNTBpdG4xbWRnIn0.Hy-g2odH5c_mCv03BFkWNw';
    var map = L.mapbox.map('map', 'mapbox.light')
        .setView([38, -95], 4);


    var countriesLayer = L.mapbox.featureLayer()
        .loadURL("{{ url_for('static', filename='countries.geojson') }}")
        .on('click', handleClick)
        .on('ready', resetStyles)
        .addTo(map);

    var layers = [
        { name: 'Country', layer: countriesLayer }
    ];

    // This is the default style of layers when the user isn't interacting
    // with the map
    var quiet = {
        fillColor: '#222',
        fillOpacity: 0.0,
        opacity: 0.0,
        weight: 1
    };

    // The style of a layer that's been filtered to but not the specific
    // shape the user selected
    var medium = {
        fillColor: '#255',
        fillOpacity: 0.4,
        opacity: 1,
        weight: 1
    };

    // The specific shape selected
    var loud = {
        fillColor: '#2ff',
        fillOpacity: 0.8,
        opacity: 0.2,
        weight: 1
    };

    // When the user resets the map by closing the popup, reset styles
    function resetStyles() {
        for (var i = 0; i < layers.length; i++) {
            layers[i].layer.setStyle(quiet);
        }
    }

    map.on('popupclose', function() {
        resetStyles();
    });

    function handleClick(e) {
        var html = '';
        // look through each layer in order and see if the clicked point,
        // e.latlng, overlaps with one of the shapes in it.
        for (var i = 0; i < layers.length; i++) {
            var match = leafletPip.pointInLayer(
                // the clicked point
                e.latlng,
                // this layer
                layers[i].layer,
                // whether to stop at first match
                true);
            // if there's overlap, add some content to the popup: the layer name
            // and a table of attributes
            if (match.length) {
                html += '<strong>' + layers[i].name +
                    '<button onclick="highlightMatch(this)" data-layer="' + i +
                    '" data-latlng="' +
                    [e.latlng.lat, e.latlng.lng] +
                    '">highlight</button></strong>';
                html += propertyTable(match[0].feature.properties);
            }
        }
        if (html) {
            map.openPopup(html, e.latlng);
        }
    }

    // To highlight a layer, we make all other layers quiet and then re-run
    // the point in polygon match on that layer
    function highlightMatch(that) {
        var layer = layers[that.dataset.layer].layer,
            latlng = L.latLng(that.dataset.latlng.split(','));

        for (var i = 0; i < layers.length; i++) {
            if (layers[i].layer == layer) {
                var match = leafletPip.pointInLayer(latlng, layers[i].layer, true);
                layers[i].layer.eachLayer(function(shape) {
                    if (match[0] == shape) {
                        // the one shape that is matched becomes loud and clear
                        shape.setStyle(loud);
                    } else {
                        shape.setStyle(medium);
                    }
                });
            } else {
                layers[i].layer.setStyle(quiet);
            }
        }
    }

    // create a simple table from the properties in a feature, like the
    // name of a state or district
    function propertyTable(o) {
        var t = '<table>';
        for (var k in o) {
            t += '<tr><th>' + k + '</th><td>' + o[k] + '</td></tr>';
        }
        t += '</table>';
        return t;
    }
  });
</script>

</body>
</html>
